<div class="navigation-bar" th:fragment="menu">
    <ul class="menu-list-no-bullets-horizontal">
        <li class="menu-list"><a class="menu-item" href="/" th:text="#{avaleht}">Home</a></li>
        <li class="menu-list"><a class="menu-item" href="/addDentist" th:text="#{registreeri.arst}">Lisa arst</a></li>
        <li class="menu-list"><a class="menu-item" href="/list" th:text="#{registreeringud}">Registreeringud</a></li>
        <li class="menu-list"><a class="menu-item" href="/reception" th:text="#{registreeri}">Broneeri</a></li>
    </ul>
</div>