body {
    background-color: #f2f2f2;
    margin: 0px;
}

.container {
    margin: 20px;
    width: 70%;
    margin-bottom: 100px;
}

.navigation-bar {
    /* span over the whole page, center the items, etc */
    background-color: #0a0a0a;
    padding: 5px;
    align-content: center;
    align-items: center;
    margin: 0px;
}

.menu-list-no-bullets-horizontal {
    /* menu items that have no bullets and are positioned horisontally */
    list-style-type: none;
}

.menu-list {
    display: inline-block;
    padding: 5px;
}

.menu-item:visited {
    text-decoration: none;
    color: #f2f2f2;
}

.menu-item {
    padding: 5px;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    margin: 1px 3px 1px 3px;
    padding: 5px;
    border: 1px solid #f2f2f2;
}

.menu-item:hover {
    background-color: #f2f2f2;
    color: #0a0a0a;
}

.menu-item.active {
    background-color: #f2f2f2;
    color: #0a0a0a;
}

.custom-button {
    text-decoration: none;
    color: #f2f2f2;
    background-color: #0a0a0a;
    border: 1px solid #0a0a0a;
}

.custom-button:hover {
    color: #0a0a0a;
    background-color: #f2f2f2
}

.custom-a {
    text-decoration: none;
    color: #0a0a0a;
    background-color: #f2f2f2;
    padding: 5px;
}
.custom-a:hover {
    color: #f2f2f2;
    background-color: #0a0a0a;
}

.custom-a:visited {
    color: #0a0a0a;
    background-color: #f2f2f2;
}

table {
    text-align: center;
}

.custom-table-id-link {
    color: #f2f2f2;
    background-color: #0a0a0a;
    text-decoration: none;
    border: 1px solid #0a0a0a;
    padding: 5px;
}

.custom-table-id-link:hover {
    color: #0a0a0a;
    background-color: #f2f2f2;
}

.custom-table-row>td {
    padding: 10px;
}

.custom-table-row>td.doctors {
    padding: 10px;
    text-align: left;
}
/* 
.custom-table-row:visited {
    color: #0a0a0a;
}

.custom-table-row:hover {
    background-color: red;
}

.custom-table-row>td>a {
    padding: 5px;
    color: #0a0a0a;
    text-decoration: none;
    margin: 1px 3px 1px 3px;
    padding: 5px;
}

.custom-table-row>td>a:visited {
    color: #0a0a0a;
}

.custom-table-row>td>a:hover {
    color: green;
}
 */
.searchbar {
    margin-bottom: 10px;
    align-content: center;
}