<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dentistry</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <!-- include the menu -->
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <table>
            <tr>
                <th th:text="#{arsti.nimi}">arsti.nimi</th>
            </tr>
            <tr th:each="dentist : ${dentists}" class="custom-table-row">
                <td class="doctors" th:text="${dentist.name}">Nothing</td>
            </tr>
        </table>
        <form action="#" th:action="@{/addDentist}" th:object="${dentistDTO}" method="post">
            <table>
                <tr>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nime viga</td>
                    <td><button class="custom-button" type="submit" th:text="#{registreeri.arst}"></button></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>