<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dentistry</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <!-- include the menu -->
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <form action="#" th:action="@{/reception}" th:object="${dentistVisitDTO}" method="post">
            <table>
                <tr>
                    <td>
                        <p th:text="#{arsti.nimi}">arsti.nimi</p>
                    </td>
                    <td>
                        <!-- <input type="text" th:field="*{dentistName}" required/> -->
                        <select name="dentist" id="dentist-select">
                            <option id="null" value="null" disabled="null" selected="null">--VALI--</option>
                            <option th:each="dentist : ${dentists}" th:value="${dentist.id}" th:text="${dentist.name}"></option>
                        </select><a href="/addDentist" class="custom-a">+</a>
                    </td>
                    <!-- <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">Nime viga</td> -->
                </tr>
                <tr>
                    <td>
                        <p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p>
                    </td>
                    <td>
                        <input type="text" th:field="*{visitTime}" />
                    </td>
                    <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kuupäeva viga</td>
                </tr>
                <tr>
                    <td>
                        <p th:text="#{visiidi.kell}">visiidi.kell</p>
                    </td>
                    <td>
                        <input type="text" th:field="*{visitClock}" />
                    </td>
                    <td th:if="${#fields.hasErrors('visitClock')}" th:errors="*{visitClock}">Kella viga</td>
                </tr>
                <tr>
                    <td>
                        <button class="custom-button" type="submit" th:text="#{registreeri.visiidile}"></button>
                    </td>
                    <td>
                        <td th:if="${availability == false}" th:text="#{visit.exists}"></td>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>