<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dentistry</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <!-- include the menu -->
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <h1>Kasutusjuhend</h1>
        <p>Vaikimisi on andmebaasi sisestatud suvalised andmed. Juhul, kui automaatset andmebaasi täitmist ei soovi, tuleb kustutada fail <strong>prooviylesanne\src\main\resources\data.sql</strong>.</p>
        <p>Menüüribal toodud lingid suunavad vastavalt arsti lisamise, registreeringute vaatamise (ja otsimise) ning registreeringu tegemise lehele. </p>
        
        <h2>Menüünupp: Lisa arst</h2>
        <p>Lehel on toodud hetkel salvestatud arstide nimed. Arste saab ka lisada, kuid tuleb meeles pidada, et samanimelisi arste ei saa olla. Hetkeseisuga on suurtähestatud nimed väiketähestatud nimedest erinevad (ehk dracula ja Dracula on erinevad nimed).</p>
        <p>Arsti lisamisel on piiranguks vaid nime pikkus: minimaalselt 1 täht ning maksimaalselt 50. <small>Antud piirangut saab muuta lähtekoodis <strong>Dentist.java</strong> ja <strong>DentistDTO.java</strong> klassides.</small></p>

        <h2>Menüünupp: Registreeringud</h2>
        <p>Lehekülg koosneb salvestatud registreeringute listist, otsingust ning iga registreeringu juures olevatest detailvaate nuppudest.</p>
        <h3>Otsing</h3>
        <p>Otsida saab igat parameetrit täpsustades või täpsustades vaid soovituid. Arsti nime saab valida salvestatud arstinimede hulgast või lahtri tühjaks jätta (valides valiku nimega "---VALI---". Jättes kõik lahtrid tühjaks kuvatakse kõik registreeringud.</p>
        <p>Visiidi kuupäev tuleb kirjutada formaadis <strong>"päeva-number.kuu-number.aasta-number"</strong> vastasel juhul teavitatakse kasutajat veateatega. Tasub tähele panna, et sisestatud kuupäev kujul "12.12.12" tõlgendatakse kuupäevaks "12.12.0012".</p>
        <p>Lahter Peale kella kuvab visiidid, mille algus on sama või hiljem kui sisestatud kellaaeg. Sisestatud kellaaeg tuleb korrektselt sisestada, fomaadis <strong>"tunnid:minutid"</strong>. Valesti sisestatud kellaaeg tekitab veateate.</p>
        <p>Lahter Enne kella kuvab visiidid, mille algusaeg on enne või sama kui sisestatud kellaaeg. Sisestuse formaat sama, mis eelmisel lahtril.</p>
        <h3>Registreeringute list</h3>
        <p>Vaikimisi on kuvatud kõik registreeringud. Iga rea alguses olev "Detailvaade" nupp suunab kasutaja antud registreeringu detailvaatele, kus saab registreeringut muuta või kustutada.</p>
        <h3>Detailvaade</h3>
        <p>Detailvaates saab muuta kõiki lahtreid või vastava registreeringu kustutada. Juhul kui tahetakse salvestada vales formaadis lahtrit, suunatakse kasutaja antud detailvaatesse tagasi, ilma muudatusi salvestamata.</p>
        <p>Vajutades "Kustuta" nuppu, suunatakse kasutaja tagasi registreeringute üldvaatesse ning vastav registreering kustutatakse andmebaasist.</p>

        <h2>Menüünupp: Broneeri</h2>
        <p>Lehel kuvatakse vorm, kus saab valida arsti nime, visiidi kuupäeva ja visiidi kellaaja. Hetkeseisuga tuleb kellaaeg ja kuupäev õiges formaadis sisestada ning visiidi vaikimisi kestvus on <strong>1 tund</strong>. Seega ei saa broneerida visiiti, mis kattub teiste visiitidega tunniajases vahemikus (nii enne kui pärast).</p>
        <p>Visiiti saab broneerida andmebaasi salvestatud arstide juurde ning arsti nimi tuleb valida ripp-menüüst. Kui soovitud arsti nimekirjast puudub, saab lahtri kõrval asuva "+" nupu kaudu liikuda lehele, "Lisa arst".</p>
        <p>Valesti sisestatud kuupäeva ja kellaaja puhul ilmub veateade. Veateade ilmub ka juhul, kui registreeritud visiit kattub varasemalt salvestatud visiidiga. <small>Visiidi vaikimisi kestvus on salvestatud DentistVisitService.java klassis RESERVATION_LENGTH_HOURS muutujas.</small></p>
    </div>
</body>

</html>