<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dentistry</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <!-- include the menu -->
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <h3 th:text="#{arst.lisatud}">arst.lisatud</h3>
    </div>
</body>

</html>