<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dentistry</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <!-- include the menu -->
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <div class="searchbar">
            <form id="searchbox" action="#" th:action="@{/list}" th:object="${dentistVisitSearchDTO}" method="get">
                <table>
                    <tr>
                        <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
                        <td><select name="dentist" id="dentist-select">
                            <option id="null" value="" th:selected="${dentistVisitSearchDTO.dentist} == ${null}">---VALI---</option>
                            <option th:if="${dentistVisitSearchDTO.dentist != null}" th:each="dentist : ${dentists}" th:value="${dentist.id}" 
                                th:selected="${dentistVisitSearchDTO.dentist == dentist.id}" th:text="${dentist.name}"></option>
                            <option th:if="${dentistVisitSearchDTO.dentist == null}" th:each="dentist : ${dentists}" th:value="${dentist.id}" th:text="${dentist.name}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
                        <td><input type="text" th:field="*{visitDate}" /></td>
                        <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">Kuupäeva viga</td>
                    </tr>
                    <tr>
                        <td><p th:text="#{visiidi.kell.hiljem}">visiidi.kell</p></td>
                        <td><input type="text" th:field="*{visitAfter}" /></td>
                        <td th:if="${#fields.hasErrors('visitAfter')}" th:errors="*{visitAfter}">Kella viga</td>
                    </tr>
                    <tr>
                        <td><p th:text="#{visiidi.kell.varem}">visiidi.kell</p></td>
                        <td><input type="text" th:field="*{visitBefore}" /></td>
                        <td th:if="${#fields.hasErrors('visitBefore')}" th:errors="*{visitBefore}">Kella viga</td>
                    </tr>
                    <tr>
                        <td><input id="submit" type="submit" value="Otsi" class="custom-button" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <table>
            <tr>
                <th></th>
                <th th:text="#{arsti.nimi}">arsti.nimi</th>
                <th th:text="#{visiidi.kell}">visiidi.kell</th>
                <th th:text="#{visiidi.kuupaev}">visiidi.kuupaev</th>
                <th></th>
            </tr>
            <tr th:each="visit : ${visits}" class="custom-table-row">
                <td><a th:href="@{/view/{visitID}(visitID=${visit.id})}" class="custom-table-id-link">Detailvaade</a></td>
                <td th:text="${visit.dentistName}">Nothing</td>
                <td th:text="${#dates.format(visit.visitClock, 'HH:mm')}">Nothing</td>
                <td th:text="${#dates.format(visit.visitTime, 'dd.MM.yyyy')}">Nothing</td>
                <!-- <td><a href="#" class="custom-table-id-link" th:text="#{registreering.muuda}">NOTHING</a></td> -->
                <!-- <td><a href="#" class="custom-table-id-link" th:text="#{registreering.kustuta}">NOTHING</a></td> -->
            </tr>
        </table>
    </div>
</body>

</html>
