<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dentistry</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <!-- include the menu -->
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <form th:replace="form :: form"></form>
    </div>
</body>

</html>