<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dentistry</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
    <!-- include the menu -->
    <div th:replace="fragments/menu :: menu"></div>
    <div class="container">
        <form id="searchbox" action="#" th:action="@{/edit}" th:object="${dentistVisitDTO}" method="post">
            <input id="id" name="id" type="hidden" th:value="${visit.id}"/>
            <table>
                <tr>
                    <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
                    <!-- <td><p th:text="${visit.dentistName}"></p></td> -->
                    <td><select name="dentist" id="dentist-select">
                            <option th:each="dentist : ${dentists}" th:value="${dentist.id}" th:selected="${visit.dentist == dentist.id}" th:text="${dentist.name}"></option>
                        </select></td>
                </tr>
                <tr>
                    <td><p th:text="#{visiidi.kell}">visiidi.kell</p></td>
                    <!-- <td><p th:text="${#dates.format(visit.visitClock, 'HH:mm')}"></p></td> -->
                    <td><input id="visitTime" name="visitTime" type="text" th:value="${#dates.format(visit.visitTime, 'dd.MM.yyyy')}" /></td>
                </tr>
                <tr>
                    <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
                    <!-- <td><p th:text="${#dates.format(visit.visitTime, 'dd.MM.yyyy')}"></p></td> -->
                    <td><input id="visitClock" name="visitClock" type="text" th:value="${#dates.format(visit.visitClock, 'HH:mm')}" /></td>
                </tr>
                <tr>
                    <td><button type="submit" name="action" value="save" class="custom-button" th:text="#{registreering.muuda}">Muuda</button></td>
                    <td><button type="submit" name="action" value="delete" class="custom-button" th:text="#{registreering.kustuta}">Kustuta</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>
<!-- INSERT INTO DENTIST_VISIT (dentist_name, visit_date, visit_time) VALUES
    ('silvertooth', '2007-12-12 00:00:00.0', '1970-01-01 12:12:00.0'),
    ('silvertooth', '0012-12-12 00:00:00.0', '1970-01-01 12:12:00.0'),
    ('silvertooth', '2005-12-12 00:00:00.0', '1970-01-01 12:12:00.0'),
    ('dentist', '2010-12-12 00:00:00.0', '1970-01-01 12:12:00.0'),
    ('doctor', '2100-12-12 00:00:00.0', '1970-01-01 12:15:00.0');
    INSERT INTO DENTIST (name) VALUES
    ('silvertooth'),
    ('dentist'),
    ('doctor'); -->